#semaforo{
    width: 200px;
    height: 550px;
    border-radius: 15px;
}
#luces{
    width: 150px;
    height: 150px;
}
#soporte{
    width: 50px;
    height: 130px;
}
.rojoApagado{
    background-color: darkred;
    border-radius: 75px;
    margin: auto;
}
.amarilloApagado{
    background-color: darkkhaki;
    border-radius: 75px;
    margin: auto;
}
.verdeApagado{
    background-color: darkgreen;
    border-radius: 75px;
    margin: auto;
}
.rojoEncendido{
    background-color: red;
    border-radius: 75px;
    margin: auto;
}
.amarilloEncendido{
    background-color: khaki;
    border-radius: 75px;
    margin: auto;
}
.verdeEncendido{
    background-color: green;
    border-radius: 75px;
    margin: auto;
}
